<main>

    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/banner.png" class="d-block w-100" alt="promoção de jogo">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/jogo4.png" class="d-block w-100"
                        alt="como os jogos têm mudado a vida das pesooas">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner2.png" class="d-block w-100" alt="os melhores jogos">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
<h2>Jogos em promoção!</h2>
    <mat-grid-list cols="3" >
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo1.png" alt="jogo 1">
                <mat-card-header>
                    <mat-card-title>Jogo</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        O melhor jogo do ano.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$499,00</p>
                    <button mat-button>COMPRAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo2.png" alt="jogo 2">
                <mat-card-header>
                    <mat-card-title>Jogo</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        O melhor jogo do ano.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$499,00</p>
                    <button mat-button>COMPRAR</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo 3.png" alt="jogo 3">
                <mat-card-header>
                    <mat-card-title>Jogo</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        O melhor jogo do ano.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <p>R$499,00</p>
                    <button mat-button>COMPRAR</button>
             
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
    
    </mat-grid-list>




</main>